# Dependency Directories
node_modules/
client/node_modules/
server/node_modules/

# Build Production
build/

# Environment Variables
.env

# Docker
.docker/
docker-compose.override.yml

# Debug Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/